@model WebApplication2.TitleHolders

@{
    ViewData["Title"] = "Видалити титул";
}

<h1>Видалити титул</h1>

<h3>Ви впевнені що хочете видалити @ViewBag.TitleName?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fighter)
        </dt>
        <dd class = "col-sm-10">
            @{
                @if(@Model.FighterId==null)
                {
                    <text>-</text>
                }
                else{@Html.DisplayFor(model => model.FighterId)}
            }
    
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfGettingTitle)
        </dt>
        <dd class = "col-sm-10">
             @{
                @if(@Model.DateOfGettingTitle==null)
                {
                    <text>-</text>
                }
                else{@Html.DisplayFor(model => model.DateOfGettingTitle)}
            }
        </dd>
        
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TitleId" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary ml-2">Назад</a>
    </form>
</div>

