@model WebApplication2.TitleHolders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TitleHolders</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfGettingTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfGettingTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fighter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fighter.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TitleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
