@model IEnumerable<WebApplication2.Fight>

@{
    ViewData["Title"] = "Бої";
}

<h1>Всі бої</h1>

<p>
    <a asp-action="Create">Додати бій</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Winner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfWin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fighter1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fighter2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfWin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fighter1.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fighter2.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детальніше</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
