@model IEnumerable<WebApplication2.Fight>

@{
    ViewData["Title"] = "Бої";
}

<h1>Всі бої</h1>

<p class="addNew">
    <a asp-action="Create">Додати бій</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fighter1)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Fighter2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr> 
            <td>
                <span style="position:relative;"> @item.Fighter1.Name
                @{
                    @if(item.Winner=="Fighter1")
                    {
                        <span class="winner">WIN</span>
                    }
                    else if(item.Winner=="draw")
                    {
                        <span class="draw">draw</span>
                    }
                 }
                 </span>
            </td>
            <td style="color:orangered;">VS</td>
            <td>
               <span style="position:relative;"> @item.Fighter2.Name
                @{
                    @if(item.Winner=="Fighter2")
                    {
                        <span class="winner">WIN</span>
                    }
                    else if(item.Winner=="draw")
                    {
                        <span class="draw">draw</span>
                    }
                 }
                 </span>
            </td>
        
            <td>
                @if(item.Date==null )
                {
                    <text>-</text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Date)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детальніше</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <script>sessionStorage.setItem('url', window.location); </script>