@model WebApplication2.Division

@{
    ViewData["Title"] = "Видалити вагову категорію";
}

<h1>Видалити вагову категорію @ViewBag.Division</h1>
<hr />
<h5>Ви впевнені що хочете видалити @ViewBag.Division? @if(@ViewBag.FightersCount!=0){<text>Буде видалено @ViewBag.FightersCount бійців</text>}</h5>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Бійців
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.FightersCount
        </dd>
    </dl>
     <p class="text-danger mb-2" style="font-size:14px; margin-top:-8px;">@Html.ValidationMessageFor(m => m.Name)</p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <a class="btn btn-outline-secondary ml-2" asp-action="Index">Назад</a>
    </form>
</div>
